@keyframes header-scroll {
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes infinite-rotate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
