* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  /* transition: background-color 150ms ease-in; */
}

.main-wrapper {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-menu-wrapper {
  /* position: relative; */
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary);
  z-index: 10;
}

.header-menu-wrapper .header-menu {
  /* position: relative; */
  width: min(calc(100% - 4rem), 120rem);
  margin-inline: auto;
  padding: 1rem 0;
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu-wrapper .header-menu .header-logo {
  width: 20%;
  height: 100%;
  white-space: nowrap;
}

.header-menu-wrapper .header-menu .nav-menu {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.nav-menu li {
  color: var(--text);
  font-size: var(--font-size-small-text);
  list-style: none;
  font-weight: 500;
}
.nav-menu li a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.nav-menu li a:hover {
  color: var(--accent);
}

.nav-menu li:hover {
  color: var(--accent);
}

.header-logo {
  font-size: var(--font-size-subheading);
  font-weight: 500;
}

.button-primary {
  width: 9.25rem;
  height: 3rem;
  background-color: var(--accent);
  font-size: var(--font-size-small-text);
  font-weight: 500;
  color: var(--button-text);
  background-color: var(--accent);
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.2s linear;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

.button-primary:hover {
  background-color: var(--hover-color);
  letter-spacing: 2px;
}

.menu-icon {
  display: none;
}

.section-wrapper {
  width: 100%;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section-wrapper .content-box {
  position: relative;
  width: min(calc(100% - 4rem), 120rem);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 5rem);
  flex-grow: 1;
}
.section-wrapper .content-box .content-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: flex-start;
}
.section-wrapper .content-box .content-wrapper h2 {
  font-size: var(--font-size-heading);
  color: var(--text);
  font-weight: 700;
}
.section-wrapper .content-box .content-wrapper p {
  font-size: var(--font-size-text);
  color: var(--text);
}
.section-wrapper .content-box .image-block-wrapper {
  width: 50%;
}

img {
  height: auto;
  max-width: 100%;
}
