/* Media Queries */

@media screen and (width<= 820px) {
  .nav-menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--primary);
    width: 100%;
    transition: all 0.4s linear;
    z-index: 10;
    max-height: 100vh;
    overflow: hidden;
    /* row-gap: 1.25rem; */
  }

  .header-menu-wrapper .header-menu {
    justify-content: space-between;
  }

  .nav-menu li {
    padding: 1rem 2rem;
    width: 100%;
    cursor: pointer;
  }

  .nav-menu li:is(:hover, .active) {
    color: var(--button-text);
    background-color: var(--accent);
  }

  .nav-menu ul li:last-child {
    display: none;
  }

  .menu-icon {
    display: inline-block;
    cursor: pointer;
  }
  .menu-icon img {
    display: inline-block;
    height: 24px;
    width: 24px;
  }
  .hidden {
    display: none;
  }

  #menu-icon:checked ~ .nav-menu ul {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
  }

  .section-wrapper .content-box {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
  }

  .section-wrapper .content-box .content-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .section-wrapper .content-box .image-block-wrapper {
    width: 65%;
  }

  .section-wrapper .content-box .content-wrapper h2 {
    text-align: center;
  }
  .section-wrapper .content-box .content-wrapper p {
    text-align: center;
  }
}

@media screen and (width<= 426px) {
  .section-wrapper .content-box .image-block-wrapper {
    width: 100%;
  }
}
